{% load static %}
<div class="container">
    <div class="columns">
        <div class="column is-4">
            <p class="footer-link-title has-text-weight-bold">Navigation</p>
            <!-- Loop through the navigation items -->
            <a class="navbar-item nav-home" href="{% url 'corporate_page' 4 %}">Privacy Policy</a>
            <a class="navbar-item nav-home" href="{% url 'corporate_page' 3 %}">Terms & Conditions</a>
            <a class="navbar-item nav-home" href="/">Help</a>
            <a class="navbar-item nav-web" href="{% url 'contact_page' %}">Contact</a>

        </div>
        <div class="column is-4">
            <p class="footer-link-title has-text-weight-bold">Follow Us</p>
            <div class="social-media is-size-6">
                <a class="social-link facebook" href="/" target="_blank" title="Facebook" aria-label="Facebook">
                    <p>
                        <i class="uil uil-facebook-f">Facebook</i>
                    </p>
                </a>
                <a class="social-link twitter" href="/" target="_blank" title="Twitter" aria-label="Twitter">
                    <p>
                        <i class="uil uil-twitter-alt"> Twitter</i>
                    </p>
                </a>
                <a class="social-link instagram" href="/" target="_blank" title="Instagram" aria-label="Instagram">
                    <p>
                        <i class="uil uil-instagram is-large"> Instagram</i>
                    </p>
                </a>
                <a class="social-link rss" href="/rss" target="_blank" title="RSS" aria-label="RSS">
                    <p>
                        <i class="uil uil-rss"> RSS Feed</i>
                    </p>
                </a>
            </div>
        </div>
        <div class="column is-4" style="">
            <p class="footer-link-title has-text-weight-bold">Subscribe</p>
            <p class="footer-text">Get the latest posts delivered right to your inbox</p>
            <form method="post" action="/subscribe/" style="z-index: 1">
                <input class="confirm" type="hidden" name="confirm"/><input class="location" type="hidden" name="location"/><input class="referrer" type="hidden" name="referrer"/>

                <div class="form-group">
                    <input class="input is-rounded" type="email" name="email" placeholder="Your email address"/>
                </div>
                <button class="button is-primary is-rounded has-text-weight-bold" type="submit"><span>Subscribe</span></button>
            </form>
            <div style="background-image: url('{% static 'SVG/newsletter_subscription.svg' %}');background-position: 100%;background-size: contain;background-repeat: no-repeat;position: absolute;bottom: -5rem;right: 0;width: 16rem;height: 10rem;opacity: .4;z-index: 0;">
            </div>
        </div>
    </div>
    <hr>
</div>