{% extends 'base.html' %}
{% load static %}
{% block descritpion %}Contact Activities{% endblock %}
{% block hero-size %}is-small{% endblock %}
{% block page-hero-title %}{% block title %}Contact Us{% endblock %}{% endblock %}
{% block page-hero-subtitle %}{% endblock %}
{% block content %}
    <div class="container has-text-centered" style="margin-top: 5rem;">
        <div class="columns is-8 is-variable ">
            <div class="column is-two-thirds has-text-left">
                <h1 class="title is-1">Send a message</h1>
                <p class="is-size-4"></p>
                <div class="social-media">
                    <a>
                        <i class="uil uil-facebook-messenger is-size-1"></i>
                    </a>
                    <a>
                        <i class="uil uil-twitter is-size-1"></i>
                    </a>
                </div>
                {{ success }}
                <img src="{% static 'images/contact.svg' %}" style="position: absolute;top: -5%;z-index: -1;opacity: 0.17;" alt="contact person">
            </div>
            <div class="column is-one-third has-text-left">
                <form action="{% url 'contact_page' %}" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label for="name" class="label">Name</label>
                        {{ contact.name }}
                    </div>
                    <div class="field">
                        <label for="email" class="label">Email</label>
                        {{ contact.email }}
                    </div>
                    <div class="field">
                        <label for="message" class="label">Message</label>
                        {{ contact.message }}
                    </div>
                    <a type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message <i class="uil uil-fast-mail is-size-3"></i></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
