{% extends 'base.html' %}
{% load static %}
{% block hero-size %}is-small{% endblock %}
{% block page-hero-title %} {# No page hero #} {% endblock %}
{% block hero-image %}{% endblock %}
{% block page-hero-subtitle %}{% endblock %}
{% block content %}
    <div class="background-img is-desktop" style="background: url('../media/{{ corporate.attachment }}');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            width: 30rem;
            max-width: 35%;
            height: 30rem;
            opacity: .2;
            z-index: 0;">
    </div>
    <section class="section">
        <div class="container grid">
            <div class="content">
                <h1 class="title">
                    {% block title %}
                        {% block descritpion %}
                            {{ corporate.title }}
                        {% endblock descritpion %}
                    {% endblock title %}
                </h1>
                {{ corporate.content|safe }}
            </div>
        </div>
    </section>
{% endblock content %}